---
---

@import "{{ site.theme }}";
.page-header {
	padding: 1rem 6rem;
}
.project-name,.project-tagline{
	float:left;
	display:inline;
	padding: 0.1rem 0.2rem;
	padding-left:1.25rem;
}
.page-header>a{
	float:right;
}
.page-header>div{
	clear:both;
}
@media screen and (min-width: 64em) {
	.page-header {
		padding: 1rem 6rem;
	}
}

@media screen and (min-width: 42em) and (max-width: 64em) {
	.page-header {
		padding: 1rem 4rem;
	}
}